<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
  <div class="form-group">
    <label for="username">UserName</label>
    <input name="username" type="text" placeholder="Enter username">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
        <input name="password" type="password" placeholder=" Enter password">
          </div>
              <button type="submit" class="btn btn-primary">Submit</button>
         
</form>

<!-- <ul>
  <li *ngFor="post of posts">{{post.title}</li>
</ul> -->

<!-- <h1 *ngIf="status; else not Active">{{firstName}}</h1>
<ng-template #not Active>
  <p>Not Active</p>
</ng-template>
<hr>
<input [(ngModel)]="lastName" type="text">
{{lastName}}

<br><br>
<button (click)="greetPerson()">Click</button>
<hr>
<br>
<label for="status">Active</label>
<input type="radio" id="status" [checked]="status">

    <h1>welcome to {{firstName}} {{lastName}}!</h1>
    
  <hr>  
<br>
{{city ? city : 'No city' }}
<br>
<hr>
{{ displayFirstName() }}  -->