
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>


<form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
  <div class="form-group">
    <label for="username">UserName</label>
    <input name="username" type="text" placeholder="Enter username">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
        <input name="password" type="password" placeholder=" Enter password">
          </div>
              <button type="submit" class="btn btn-primary">Submit</button>
         
</form>

<!-- <ul>
  <li *ngFor="post of posts">{{post.title}</li>
</ul> -->

<!-- <h1 *ngIf="status; else not Active">{{firstName}}</h1>
<ng-template #not Active>
  <p>Not Active</p>
</ng-template>
<hr>
<input [(ngModel)]="lastName" type="text">
{{lastName}}

<br><br>
<button (click)="greetPerson()">Click</button>
<hr>
<br>
<label for="status">Active</label>
<input type="radio" id="status" [checked]="status">

    <h1>welcome to {{firstName}} {{lastName}}!</h1>
    
  <hr>  
<br>
{{city ? city : 'No city' }}
<br>
<hr>
{{ displayFirstName() }}  -->